{{ "<!-- Header -->" | safeHTML }}
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive img-circle img-profile" src="img/{{ with .Site.Params.header.image }}{{ . }}{{ else }}profile.png{{ end }}" alt="">
                <div class="intro-text">
                    <span class="name">{{ with .Site.Params.header.name }}{{ . }}{{ end }}</span>
                    <hr class="star-light">
                    <span class="skills">{{ with .Site.Params.header.subtitle }}{{ . }}{{ end }}</span>
                    <div class="description">
                      <div class="col-lg-8 col-lg-offset-2">
                        {{ range .Site.Params.header.description }}
                        <p>{{ . | safeHTML }}</p>
                        {{ end }}
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
